body, html {
    width: 100%;
    height: 100%;
    font-size: 200%; /* Augmente la taille du texte de base */
}

.grille {
    display: grid;
    background-color: grey;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 1fr 50px;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

.grillenav {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1.8fr 1fr 1fr 8fr 2fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "darquest wow fallout knapsak moncegep kb2 montp1";
    font-size: 2em; /* Augmenter la taille du texte dans la grille de navigation */
}

#darquest, #wow, #fallout, #knapsak, #moncegep, #kb2, #montp1 {
    font-size: 2em; /* Augmenter la taille du texte dans ces éléments */
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    font-size: 2em; /* Augmenter la taille du texte dans l'entête */
}

main {
    grid-area: main;
    background-color: #F5F5F5;
    overflow-y: auto;
    color: white;
    font-size: 2em; /* Augmenter la taille du texte dans le main */
}

footer {
    grid-area: footer;
    background-color: grey;
    color: white;
    font-size: 2em; /* Augmenter la taille du texte dans le footer */
}

aside {
    grid-area: aside;
    background-color: #33BFFF;
    color: white;
    overflow-y: auto;
    font-size: 2em; /* Augmenter la taille du texte dans l'aside */
}

.h1 {
    color: black;
    font-size: 2em; /* Augmenter la taille du texte du titre */
    padding-top: 0%;
    padding-left: 10px;
    margin-top: 0%;
}

.image {
    max-width: 640px;
    margin: auto;
    max-height: 320px; /* Augmenter la taille des images */
}

.figure {
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    height: fit-content;
    float: left;
    margin-left: 1em;
    margin-top: 0px;
    margin-right: 1em;
}

figcaption {
    color: black;
    font-size: 2em; /* Augmenter la taille du texte dans les légendes des images */
}

article {
    font-size: 2em; /* Augmenter la taille du texte dans les articles */
    font-style: inherit;
    color: black;
    margin-top: 1em;
}

#articlep {
    font-size: 2em; /* Augmenter la taille du texte dans l'article spécifique */
    font-weight: 540;
    transform: scale(1, 1.4);
}

h2 {
    color: black;
    font-size: 2em; /* Augmenter la taille du texte des sous-titres */
    margin: 0px;
    padding: 0.5em;
}

ul, li {
    color: black;
    list-style-type: disc;
    font-size: 2em; /* Augmenter la taille du texte dans les listes */
}

.lienchangepas {
    color: inherit;
    text-decoration: none;
}

.lienchangepas:visited {
    color: inherit;
}

.lienchangepas:hover,
.lienchangepas:focus {
    color: inherit;
}
